@tailwind base;
@tailwind components;
@tailwind utilities;

/* card css */

.card-hover {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x))
    skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y));
  border-width: 1px;
  border-color: transparent;
  transition-property: color, background-color, border-color, fill,
    stroke, opacity, box-shadow, transform, filter,
    -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow,
    transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow,
    transform, filter, backdrop-filter, -webkit-text-decoration-color,
    -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.4s;
}
.card-hover:hover {
  --tw-border-opacity: 1;
  border-color: rgb(98 91 247 / var(--tw-border-opacity));
  --tw-shadow: rgba(0, 228, 255, 0.986) 0px 4px 24px;
  --tw-shadow-colored: 0px 4px 24px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.highlight {
  box-shadow: inset 0 1px 0 0 rgb(255 255 255 / 5%);
}
